{% extends 'index.html' %}

<h2>
{% block title %}blog{% endblock %}
</h2>

{% block content %}
<section>
    {% for post in posts %}
    <article class="post">
        <header>
            <h3>{{post.title}}</h3>
            <div class="about">
                <span>por {{post.author}}</span>
                <span> em {{post.created.strftime('%d de %B, %Y')}}</span>
            </div>
        </header>
        <p class="content">{{post.content}}</p>
    </article>
    {% if not loop.last %}
    <hr>
    {% endif %}
    {% endfor %}
</section>
{% endblock %}