{% extends 'index.html' %}

{% block title %}blog{% endblock %}

{% block content %}
<section>
    {% for post in posts %}
    <article class="post">
        <div class="article-header">
            <h3>{{post.title}}</h3>
            <div class="about">
                <span>por {{post.author.username}}</span>
                <span> em {{post.created_at.strftime('%d de %B, %Y')}}</span>
            </div>
        </div>
        <p class="content">{{post.content}}</p>
    </article>
    {% if not loop.last %}
    <hr>
    {% endif %}
    {% else %}
    <p class="no-entries">Oops... There are no posts yet!</p>
    {% endfor %}
</section>
{% endblock %}