{% extends 'index.html' %}

{% block title %}login{% endblock %}

{% block content %}
<form action="" >
    <fieldset>
        <div class="input">
            <label for="username">username</label><br>
            <input type="username" name="username" id="username" required>
        </div>
        <div class="input">
            <label for="password">password</label><br>
            <input type="password" name="password" id="password" required>
        </div>
        <div class="input">
            <input type="submit" value="login" id="button">
        </div>
    </fieldset>
</form>
{% endblock %}